$title-color: #87AB63;
$card-color: #383C4A;
$font-color: #BBC0CA;
$code-background-color: #2A2E3A;

:export {
  $title-color: $title-color;
  $card-color: $card-color;
  $font-color: $font-color;
  $code-background-color: $code-background-color;
}
